nimbus.thrift.port: 6666
magpie.zookeeper.servers:
 - 127.0.0.1
magpie.zookeeper.port: 2181
magpie.zookeeper.root: /magpie
magpie.zookeeper.connection.timeout.millis: 15000
magpie.zookeeper.session.timeout.millis: 20000
magpie.zookeeper.retry.interval.millis: 1000
magpie.zookeeper.retry.times: 5
magpie.zookeeper.retry.intervalceiling.millis: 30000

magpie.floor.score: 20
magpie.jars.dir: /tmp/.magpie/jars
magpie.pids.dir: /tmp/.magpie/pids
magpie.logs.dir: /tmp/.magpie/logs
magpie.heartbeat.interval.millis: 10000
magpie.schedule.interval.millis: 1000
magpie.schedule.timeout.millis: 60000
magpie.schedule.launchworker.timeout.millis: 10000
magpie.net-bandwidth-calculate.interval.millis: 15000

magpie.worker.childopts: "-Xmx768m"
java.library.path: ""

magpie.supervisor.group: "default"
magpie.supervisor.max-net-bandwidth: 100

magpie.cgroup.enable: false
magpie.cgroup.name: "magpie"
magpie.cgroup.cpu-cores: 1
# unit: MB
magpie.cgroup.memory: 1024
# Notice, the value of memory.memsw.limit_in_bytes must not less than that of memory.limit_in_bytes.
magpie.cgroup.memsw: 1024
